<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Julianna Alvord</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">JA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="post.html">Latest Blog Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/random data.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>A Shiny App for Cleaning & Downloading FLASHE Data</h1>
              <!--<h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
              <span class="meta">Posted by
                <a href="#">Julianna Alvord</a>
                on September 25, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Intro (P1): When did it come out? What is their goal? Seems exciting but... </p>
            
            <p>On September 5th, Google rolled out a new feature that had many researchers and Open Science proponents cheering: a dataset search. In Google’s words, data discovery was previously tedious and in some cases, nearly impossible. Now, similar to their commercial web search, this feature allows users to easily find data relating to any simple keyword.</p>
            
            <p>Nutgraph (P2): Where is the line between accessibility and privacy? It's important to find a happy medium. I have experience with my own work with datasets</p>

            <p>While data accessibility is widely celebrated, it’s important to be mindful of the reasons they are difficult to get to in the first place. Some have user agreements, others include private information that should be kept within an organization. In any case... </p>

            <p>P3: Taxonomy of publicly available datasets. Some are walled off!</p>

            <p>P4: Usability study -- Choose search terms, # of results (approximately), types of results, try clicking on some and detail what google offers!</p>

            <p>P5: FLASHE not on google dataset search because it has a user agreement. Here is where I will introduce my work- "Like Google, my goal was to make these data more accesible..." BUT, it comes with a cost of privacy. And I can't ignore that.</p>
            
            <a href="#">
              <img class="img-fluid" src="img/Data Download.png" alt="">
            </a>
            <span class="caption text-muted">A screenshot of the shiny app I developed.</span>

            <!-- <h2 class="section-heading">The Final Frontier</h2> -->

            <p>P6: Point is: each dataset comes with its own threshold of privacy. Google is specifically making it easier to find, not just bypassing certain walls and levels of privacy <a href="https://www.theverge.com/2018/9/5/17822562/google-dataset-search-service-scholar-scientific-journal-open-data-access">(good!)</a></p>

            <p>P7: What I learned is, I cannot make the data more accesible with out compromising privacy- so I cannot cross that line, and I cannot continue with the project. </p>

            <!--<blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote> -->

            <p>P8: I'm not writing about an abstract issue: data provacy issues happen all the time. Look at this example from OKCupid...</p>

            <!--<h2 class="section-heading">Reaching for the Stars</h2> -->

            <p>P9: As data scientists/researchers we must remember what the effects of our work are on privacy. We must find that line and not cross it. Then, we must encourage others to do the same.</p>


            <!--<p>Placeholder text by
             <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
              <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p> -->
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/jalvord1">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; JA 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
